.background-picture {
    background-image: url(./waffle.jpg);
    background-size:cover;
    background-position: center;

    width:33vw;
    height:100vh;

    text-align:center;
}

.background-picture a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    display:flex;
}
