@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0px;
    margin: 0px;
    font-family:"Lexend", sans-serif;
}

.background-picture {
    background-image: url(./waffle.jpg);
    background-size:cover;
    background-position: center;

    width:60vw;
    height:100vh;

    text-align:center;
    color: white;
}

.background-picture a {
    color: inherit;
}

.main-container {
    display:flex;
}

.form-container {
    display:flex;
    flex-direction:column;
}

.title-text, .form, .submission-container {
    padding: 0px 70px;
    padding-right:250px;
}

.title-text {
    background-color:#f7f7f7;

    font-size:25px;
    font-weight:600;

    padding-top: 100px;
    padding-bottom: 50px;
}

.form {
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
    padding-bottom: 50px;

    display:flex;
    flex-direction:column;
}

.form > p:first-child {
    font-size:23px;
    font-weight:bold;
    margin: 10px 0px;
}

.form-input-container {
    width: 600px;
    height: 200px;
    
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: space-around;
}

.entry {
    display:flex;
    flex-direction:column;
    width: 250px;
}


input, label, button, textarea {
    font-family: inherit;
}

input {
    border: 2px solid #E5E7EB;
    border-radius: 3px;
}

.submission-container {
    margin-top:auto;
    flex: 1;
    background-color: #f7f7f7;
    
    padding-top:30px;
    padding-bottom:30px;
}

.submission-container button {
    padding: 10px 50px;

    background-color: #91763e;
    color:white;

    border-radius:10px;
    border: 0px;

    font-size: 18px;
}

input:invalid {
    border: 2px solid #ff0000;
}

input:focus {
    border: 2px solid #2884fc;
    outline:none;
}